<div class="container">
  <ng-container *ngIf="isLoading"><span>Loading...</span></ng-container>
  <ng-container *ngIf="!isLoading">
    <ng-container *ngIf="user$ | async; else showLogin">
      <app-form></app-form>
    </ng-container>

    <ng-template #showLogin>
      <p>Please login.</p>
      <input
        class="input"
        type="email"
        name="email"
        id="email"
        placeholder="Email"
        [formControl]="email"
      />
      <input
        class="input"
        type="password"
        name="pass"
        id="pass"
        placeholder="Password"
        [formControl]="password"
      />
      <button (click)="login()">Login</button>
    </ng-template>

    <div *ngIf="errorMessage">
      {{ errorMessage }}
    </div>
  </ng-container>
</div>
