:root {
  --main-bg-color: #fbf7f0;
  --status-success: #8bc34a;
  --status-error: #ff5722;
  --textarea-color: #fff;
  --font-color: #000;
  --button-color: darkgray;
}

@media (prefers-color-scheme: dark) {
  :root {
    --main-bg-color: #000;
    --textarea-color: #000;
    --font-color: green;
    --button-color: darkgray;
  }
}

* {
  font-family: 'Source Code Pro', monospace;
  color: var(--font-color);
  font-size: 16px;
}

html,
body {
  height: 100%;
}

button {
  background-color: var(--button-color);
  border: none;
}

input {
  background-color: var(--textarea-color);
  color: var(--font-color);
}

body {
  background-color: var(--main-bg-color);
  margin: 0;
  display: flex;
  align-items: center;
}

* {
  box-sizing: border-box;
}

.ui-component {
  display: none;
}

.main-view {
  max-width: 400px;
  margin: 0 auto;
  padding: 10px;
  height: 100%;
  max-height: 800px;
  width: 100%;
}
